.principal {
  margin-top: 60px;
  min-height: 85vh;
}

.background-photo {
  background-image: url(img/lagoa_de_mira.jpeg);
  background-color: rgba(5, 147, 152, 0.1);
  background-blend-mode: multiply;


  /* background-color: rgb(32, 27, 76);
  background-blend-mode: screen; */
  height: calc(100% - 60px);
  margin-top: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.servico-card {
  width: 280px;
  height: min(350px, 50vw);
  overflow: hidden;
}

.servico-card-child {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255, 0.61);
  background-blend-mode: soft-light;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.servico-card:hover .servico-card-child { 
  transform: scale(1.05) rotate(0.5deg);
}

.blog-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(100,100,100,0.2);
  background-blend-mode: multiply;
}

.lateral-text {
  width: 600px;
  background: rgba(32, 27, 76, 0.0);
}

/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.marca {
  transition: transform 0.7s;
}

.marca:hover {
  transform: scale(1.08);
}

.made-by {
  font-family: 'VT323', monospace;
  font-size: 1.1rem;
  text-decoration: none;
}

.made-by-parent {
  transition: 0.7s;
}

.made-by-parent:hover {
  transform: translate(0px, -5px) scale(1.1);
}

.foto-equipa {
  width: min(350px, 50vw);
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}